@import url('https://fonts.cdnfonts.com/css/minecraft-3?styles=41307,41308');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body{
    background: #2f2f2f;
}

main{
    color: white;
    text-align: center;
}

h2{
    font-family: 'Minecraft', sans-serif;
    letter-spacing: 2px;
}

.client, .server{

    padding: 15px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 120px;
    background: rgb(96 125 139 / 33%);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;

}

.server{
    margin-top: 75px;
}