@import url('https://fonts.cdnfonts.com/css/minecraft-3?styles=41307,41308');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body{
    background: #2f2f2f;
}

main{
    color: white;
    text-align: center;
}

h2{
    font-family: 'Minecraft', sans-serif;
    letter-spacing: 2px;
}

.client, .server, .source{

    padding: 15px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 120px;
    background: rgb(96 125 139 / 33%);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.85;
    cursor: pointer;
    outline: solid 0px;
    transition: outline 0.3s linear;
    

}

.client:hover,
.server:hover{
    opacity: 1;
    position: relative;
    outline: solid 1px #99a9b0;
    transition: outline 0.5s linear;
}

.server, .source{
    margin-top: 75px;
}